* {
  margin: 0;
  padding: 0;
}

/* header */
header {
  background-color: #062c30;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-family: "magic";
  display: flex;
  font-size: 80px;
  padding-right: 30px;
}
@font-face {
  font-family: "magic";
  src: url(fonts/HARRYP__.TTF);
}

.header__img {
  width: 70px;
  height: auto;
  padding-left: 20px;
}

.header__nav {
  width: 50%;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.header__nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
/* end header */

/* main index*/
main {
  background-color: #dfdfde;
}
.main__image {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}
.main__section {
  background-color: #062c30;
}

.main__p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  line-height: 1.4;
  padding: 5px 5px;
}
/* end main index */

/* footer */
footer {
  background-color: #062c30;
  margin-top: 7px;
}

footer img {
  width: 100px;
  height: auto;
}
/* end footer */

/* main books */
.books__container {
  margin: 10px;
  background-color: #8d8daa;
}

.books__containerinfo {
  display: flex;
  justify-content: space-around;
  padding: top 10px;
  padding-bottom: 10px;
}

.books__containerinfo p {
  font-size: 35px;
}

.books__containerinfo img {
  width: 100px;
  height: auto;
}
/* end main books */

/* characters */
.characters__container {
  background-color: #8d8daa;
  display: flex;
}

.characters__containerinfo:hover {
  zoom: 150%;
}

.characters__containerinfo img {
  width: 120px;
  height: auto;
}
/* end characters */

/* author */
.author__container {
  background-color: #8d8daa;
  margin-top: 5px;
}

.author__containerinfo {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}

.author__containerinfo img {
  width: 400px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.author__containerinfo p {
  width: 65%;
  font-family: "Roboto Condensed", sans-serif;
}
/* end author */
